{% load static %}


<div class="container mt-3">
    <h2>Driver Management</h2>
    <div id="driver-area">
        <!-- Driver data will be loaded here -->
    </div>
</div>

{% include 'driver_detail_modal.html' %}

<!-- Bootstrap and other libraries, if not globally included -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- AJAX script to load vehicles -->


<script src="{% static 'driver/driver-management.js' %}" defer ></script>